@model WorkoutCollection

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<div class="egzersiz-title text-white-50">
    <h3>Ezgersiz Planı</h3>
</div>

@if (Model.Workouts.Count == 0)
{
    <div class="alert alert-info bg-dark text-white">
        <p>Planınızda hiç egzersiz bulunmamaktadır.</p>
    </div>
}
else
{
    <div class="row m-4">
    @foreach(var workout in Model.Workouts)
    {
  
            <div class="card bg-secondary m-4 col-3">
                <div class="card-header">
                    <h5 class="card-title text-black">@workout.Workout.Name</h5>
                    <span class="set-count text-black">Set Sayısı: @workout.Count</span>
                </div>
                <div class="card-body">
                    <p class="card-text text-black">@workout.Workout.Description</p>
                </div>
                <div class="card-body">
                    <button class="btn btn-danger deleteWorkout" data-id="@workout.Workout.Id" style="width: 100%">Sil</button>
                </div>
            </div>
    }
    </div>
}

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-body text-black">
    </div>
  </div>
</div>


@section Scripts
{
     <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script>
        $(document).ready(function () {
            $('.deleteWorkout').on('click',function(){
                let id = $(this).attr('data-id');
           
                $.ajax({
                    url: 'WorkoutPlan/DeleteWorkout/' + id,
                    type: 'GET',
                    success: function(data){
                           $('.toast-body').text(data.message);
                                                const toastLiveExample = document.getElementById('liveToast');
                                                const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
                                                toastBootstrap.show();
                                                location.reload();
                    },
                    error: function(err){
                        console.log(err);
                    }
                });
            });
        });
        </script>
}
