@model PaginationWorkoutViewModel
@{
    ViewData["Title"] = "Home Page";
    var columnCount = 0;
}

<div class="row m-4">
    @foreach(var workoutDisplay in Model.Workouts)
    {
        @if (columnCount != 0 && columnCount % 3 == 0)
        {
            @:</div>
            @:<div class="row m-4">
        }
        columnCount++;
        <div class="col-4">
            <partial name="_WorkoutDisplayResponse" model="workoutDisplay"/>
        </div>
    }
</div>

<div page-model="@Model.PagingInfo" page-action="Index">
    
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-body text-black">
    </div>
  </div>
</div>


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
    $(document).ready(function () {
        $('.plan').on('click',function(){
            let id = $(this).attr('data-id');
            console.log(id);
            $.ajax({
                url: 'WorkoutPlan/AddWorkout/' + id,
                type: 'GET',
                success: function(data){
                       $('.toast-body').text(data.message);
                                            const toastLiveExample = document.getElementById('liveToast');
                                            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
                                            toastBootstrap.show();
                },
                error: function(err){
                    console.log(err);
                }
            });
        });
    });
    </script>
}