@model PaginationWorkoutViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row m-4">
    @foreach(var workoutDisplay in Model.Workouts)
    {
        <div class="col-3">
            <partial name="_WorkoutDisplayResponse" model="workoutDisplay"/>
        </div>
    }
  
</div>