@model PaginationWorkoutViewModel
@{
    ViewData["Title"] = "Home Page";
    var columnCount = 0;
}

<div class="row m-4">
    @foreach(var workoutDisplay in Model.Workouts)
    {
        @if (columnCount != 0 && columnCount % 4 == 0)
        {
            @:</div>
            @:<div class="row m-4">
        }
        columnCount++;
        <div class="col-3">
            <partial name="_WorkoutDisplayResponse" model="workoutDisplay"/>
        </div>
    }
</div>

<div page-model="@Model.PagingInfo" page-action="Index">
    
</div>