@{
    ViewData["Title"] = "Home Page";
}

<div class="card" style="width: 18rem;">
  <img src="https://www.fitnesseducation.edu.au/wp-content/uploads/2020/10/Pushups.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Şınav</h5>
    <p class="card-text">Şınav hareketi, vücut ağırlığınızı kullanarak üst vücut kaslarını çalıştıran etkili bir egzersizdir. </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Sırt Çalıştırır</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Detaylar</a>
  </div>
</div>

